* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #dedede;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.container .leftContainer {
  background-color: cadetblue;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px;
}

.container .leftContainer .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .leftContainer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 20px;
}

.container .leftContainer .contact a {
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

.container .leftContainer .contact a:hover {
  text-decoration: underline;
}

.container .leftContainer .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .leftContainer .skils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .leftContainer progress {
  width: 100%;
}

.container #Project li {
  list-style: none;
  position: relative;
  left: 30px;
}

.container #Project p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #Project p img {
  margin-left: 20px;
}

.container .desktopContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .desktopContainer .desktop {
  border: 10px solid black;
  height: auto;
  border-radius: 20px;
  width: 90%;
}

.container .desktopContainer .desktop i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.container .desktopContainer .desktop img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container .desktopContainer .desktopLeg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .desktopContainer .desktopLeg .leg1 {
  width: 50px;
  height: 100px;
  background-color: black;
}

.container .desktopContainer .desktopLeg .leg2 {
  background-color: black;
  width: 350px;
  height: 20px;
}

.container .mobileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.container .mobileContainer .left {
  width: 50%;
}

.container .mobileContainer .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .mobile {
  border: 10px solid black;
  border-radius: 20px;
  width: 35%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.container .mobile .mobileCam {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 60%;
}

.container .mobile img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}

.container .right {
  width: 75%;
}

.container .right .project {
  margin-bottom: 100px;
}

.container .right h1 {
  text-align: center;
}

.container .right ul {
  padding: 0px;
}

.container .right .title-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.container .right form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.container .right form .field:first-child {
  margin-top: 30px;
}

.container .right form .field input {
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50%;
}

.container .right form .field textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50%;
}

button[type="submit"] {
  border: none;
  background-color: cadetblue;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 0.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button[type="submit"]:hover {
  letter-spacing: 0.35em;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fa {
  margin-right: 5px;
}

.tab {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background-color: white;
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.whatsapp-icon {
  margin-top: 16px;
  margin-left: 5px;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.containerModal {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: cadetblue;
  padding-top: 50px;
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 700px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .leftContainer {
    width: 100%;
  }
  .container .right {
    width: 100%;
  }
  .container .right .mobileContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .right .mobileContainer .left {
    width: 100%;
  }
  .container .right .mobileContainer .right {
    width: 100%;
  }
  .container .right .mobileContainer .mobile {
    width: 55%;
    height: 400px;
  }
  .container .right .desktopLeg .leg1 {
    width: 20px;
    height: 50px;
  }
  .container .right .desktopLeg .leg2 {
    width: 150px;
    height: 10px;
  }
  .container .right form {
    width: 100%;
  }
  .container .right form .field {
    width: 100%;
  }
  .container .right form .field input {
    width: 50%;
  }
  .container .right form .field label {
    width: 50%;
  }
  .container .right form .field textarea {
    width: 50%;
  }
  .whatsapp-icon {
    margin-top: 10px;
    margin-left: 5px;
  }
  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 10px;
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */